<div class="cool-notificaion-wrapper" [ngClass]="notif.opts.position">
    <div class="cool-notification" (click)="onClick($event)" [@enterLeave]="notif.opts.animate" [ngClass]="{
        'alert': notif.type === 'alert',
        'error': notif.type === 'error',
        'warn': notif.type === 'warn',
        'success': notif.type === 'success',
        'info': notif.type === 'info',
        'bare': notif.type === 'bare',
        'rtl-mode': notif.opts.rtl,
        'has-icon': notif.icon !== 'bare'
    }">

        <div class="cool-title" [innerHTML]="notif.title"></div>

        <div class="cool-content" [innerHTML]="notif.content"></div>

        <div class="icon" *ngIf="notif.icon !== 'bare'" [innerHTML]="safeSvg"></div>

    </div>
</div>