.cool-notification-wrapper {
    position: fixed;
    width: 300px;
    z-index: 1000;
}

.cool-notification-wrapper.left {
    left: 20px;
}

.cool-notification-wrapper.top {
    top: 20px;
}

.cool-notification-wrapper.right {
    right: 20px;
}

.cool-notification-wrapper.bottom {
    bottom: 20px;
}

.cool-notification-wrapper.center {
    left: 50%;
    transform: translateX(-50%);
}

.cool-notification-wrapper.middle {
    top: 50%;
    transform: translateY(-50%);
}

.cool-notification-wrapper.middle.center {
    transform: translate(-50%, -50%);
}

@media (max-width: 340px) {
    .cool-notification-wrapper {
        width: auto;
        left: 20px;
        right: 20px;
    }
}

.cool-notification {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    min-height: 70px;
}

.cool-notification .cool-title,
.cool-notification .cool-content,
.cool-notification .cool-html {
    margin: 0;
}

.cool-notification .cool-title {
    line-height: 30px;
    font-size: 20px;
}

.cool-notification .cool-content {
    font-size: 16px;
    line-height: 20px;
}

.cool-notification.has-icon .cool-title,
.cool-notification.has-icon .cool-content,
.cool-notification.has-icon .cool-html {
    padding: 0 50px 0 0;
}

.cool-notification .icon {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.cool-notification .icon.icon-hover:hover {
    opacity: 0.5;
}

.cool-notification .icon svg {
    fill: #fff;
    width: 100%;
    height: 100%;
}

.cool-notification .icon svg g {
    fill: #fff;
}

.cool-notification.rtl-mode.has-icon .cool-title,
.cool-notification.rtl-mode.has-icon .cool-content,
.cool-notification.rtl-mode.has-icon .cool-html {
    padding: 0 0 0 50px;
}

.cool-notification.rtl-mode {
    direction: rtl;
}

.cool-notification.rtl-mode .cool-content {
    padding: 0 0 0 50px;
}

.cool-notification.rtl-mode svg {
    left: 0;
    right: auto;
}

.cool-notification.error {
    background: #F44336;
}

.cool-notification.success {
    background: #8BC34A;
}

.cool-notification.alert {
    background: #ffdb5b;
}

.cool-notification.info {
    background: #03A9F4;
}

.cool-notification.warn {
    background: #ffdb5b;
}

.cool-notification.warn div .cool-title,
.cool-notification.warn div .cool-content,
.cool-notification.warn div .cool-html {
    color: #444;
}